.App {
  padding: 30px;

  display: flex;
  flex-wrap: wrap;

}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px red solid;
}

.errorMessage {
  color: red;
}

.opacityTask {
  opacity: 0.5;
}

.colorButton {
  background-color: aqua;
}

.todo {
  min-width: 250px;
  border: 1px solid;
  margin: 30px;
  padding: 10px;
}

.item {
  width: 100%;
}
