.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px red solid;
}

.errorMessage {
  color: red;
}

.opacityTask {
  opacity: 0.5;
}

.colorButton {
  background-color: aqua;
}

